body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: hsl(215, 28%, 17%);
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: white;
  font-weight: 900;
  font-size: 24px;
  margin-left: 430px;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

.link-container {
  display: flex;
  gap: 24px;
  margin-right: 430px;
}

.hero-container {
  display: flex;
  justify-content: center;
  background-color: hsl(215, 28%, 17%);
  padding-bottom: 100px;
  padding-top: 30px;
}

footer {
  background-color: hsl(215, 28%, 17%);
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 24px;
}

.footer-text {
  color: white;
}

.hero-text {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
}

.hero-text p {
  margin: 5px;
  padding: 0;
  color: #e5e7eb;
}

.hero-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}

.img-placeholder {
  border: 1px grey;
  width: 500px;
  height: 250px;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  margin-left: 200px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  font-size: 12px;
  height: 30px;
  width: 100px;
  background-color: #3882f6;
  border: 0px;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  margin-top: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container h1 {
  font-size: 36px;
}

.infoimg-container {
  display: flex;
  gap: 32px;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-img1,
.info-img2,
.info-img3,
.info-img4 {
  border: solid 3px #3882f6;
  width: 132px;
  height: 132px;
  border-radius: 12px;
}

.info-container ul {
  list-style: none;
  display: flex;
  max-width: 648px;
  padding: 3px;
  margin: 0px;
  gap: 32px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(87, 87, 87);
  text-align: center;
  margin-bottom: 32px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding-top: 60px;
  padding-bottom: 60px;
}

.quote-container h2 {
  max-width: 700px;
  margin-bottom: 3px;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
}

.quote-container h4 {
  margin-top: 15px;
  margin-left: 550px;
}

.cta-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.cta-box {
  display: flex;
  background-color: #3882f6;
  height: 150px;
  width: 800px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.cta-box h4 {
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
}

.cta-box h6 {
  margin-top: 0px;
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 100;
}

.cta-text {
  margin-left: 50px;
  margin-right: 200px;
}

.signup2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  font-size: 12px;
  height: 30px;
  width: 100px;
  background-color: #3882f6;
  border: solid 2px white;
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.cta-button {
  flex: 1;
}
